.title {
    color: white;
    text-shadow: 0 0 10px rgb(35, 34, 34);
    font-weight: 400;
    font-size: 35px;
}

.rating_container {
    display: flex;
}
.rating {
    margin-top: 3px;
    margin-left: 5px;
}
.overview:hover {
    overflow-y: auto;
}
.overview {
    text-align: justify;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    height: 160px;
    overflow-y: hidden;
    margin-top: 10px;
}
